{literal}
<div class="modal fade" id="modal_order_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">查看订单</h4>
            </div>
            <div class="modal-body clearfix">
                <span class="orderwpa-amount">&yen;{{orderInfo.order_amount}}</span>
                <p>订单状态：<span class="orderstatus {{orderInfo.status}}">{{orderInfo.statusX}}</span></p>
                <p>下单时间：{{orderInfo.order_time}}</p>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="text-muted">支付编号：<span class="font12">{{orderInfo.wepay_serial}}</span></p>
                    </div>
                    <div class="col-xs-6">
                        <p class="text-right text-muted">订单编号：<span class="font12">{{orderInfo.serial_number}}</span></p>
                    </div>
                </div>
                <div class="clearfix" style="border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;margin-bottom: 5px;padding-bottom: 8px;">
                    <div class="orderwpa-pdlist" ng-repeat="product in orderInfo.products">
                        <img width="60px" height="60px" src="/static/Thumbnail/?w=100&amp;h=100&amp;p=/uploads/product_hpic/{{product.catimg}}">
                        <div style="margin-left: 70px;height: 60px;line-height: 20px;">
                            <div class="Elipsis">{{product.product_name}}</div>
                            <div style="margin-top:3px;">
                                <i class="opprice">{{product.product_discount_price}}</i> × 
                                <i id="order229count" class="opcount">{{product.product_count}}</i>
                            </div>
                            <div style="margin-top:0;color:#666;font-size: 12px;">[默认规格]</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p><b>姓名</b>：{{orderInfo.address.user_name}}</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="text-right" ng-show="orderInfo.send_time != null"><b>快递公司</b>：{{orderInfo.expressName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p><b>电话</b>：{{orderInfo.address.tel_number}}</p>
                    </div>
                    <div class="col-xs-6" ng-show="orderInfo.send_time != null">
                        <p class="text-right"><b>快递单号</b>：{{orderInfo.express_code}}</p>
                    </div>
                </div>
                <p><b>地址</b>：{{orderInfo.address.address}}</p>
                <p><b>邮编</b>：{{orderInfo.address.postal_code}}</p>
                <p><b>配送</b>：{{orderInfo.exptime}}</p>
                <p><b>备注</b>：{{orderInfo.leword}}</p>
                <div ng-show="orderInfo.status == 'payed'" class="row" style="margin-top: 15px;border-top: 1px solid #dedede;padding-top: 15px;">                        
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>快递单号</label>
                            <input type="text" placeholder="请输入快递单号" ng-model="express_code" class="form-control" value="{{express_code}}" />
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>快递公司</label>
                            <select class="form-control" ng-model="express_company" ng-options="comp.code as comp.name for comp in express_companys"></select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>配送人员</label>
                            <select class="form-control" ng-model="express_staff" ng-options="comp.openid as comp.name for comp in express_staffs"><option value="">无配送人员</option></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-show="orderInfo.status == 'delivering'" id="order-confirm-btn" type="button" class="btn btn-success">确认收货</button>
                <button ng-show="orderInfo.status == 'payed'" id="order-express-btn" type="button" class="btn btn-success">确认发货</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{/literal}