/config/config.php
/config/*.pem

/tmp/tpl_cache/*
!/tmp/tpl_cache/index.html
/tmp/tpl_compile/*
!/tmp/tpl_compile/index.html
/tmp/img_cache/*
!/tmp/img_cache/index.html
/tmp/sql_cache/*
!/tmp/sql_cache/index.html

/nbproject/
/install/install.lock
/static/banner/*
/static/product_hpic/*
/static/product_hpic2/*
!/static/product_hpic/index.html
!/static/product_hpic2/index.html
!/static/product_hpic/index.html
!/tmp/img_cache/index.html
/static/images_gmess/*
/lib/ClassLoader.cache.php
/static/script/umeditor/php/upload/

/uploads/product_hpic/*
!/uploads/product_hpic/index.html
/uploads/product_hpic_tmp/*
!/uploads/product_hpic_tmp/index.html
/uploads/product_qrcode/*
!/uploads/product_qrcode/index.html
/uploads/banner_tmp/*
!/uploads/banner_tmp/index.html
/uploads/banner/*
!/uploads/banner/index.html
/uploads/brands/*
!/uploads/brands/index.html
/uploads/images_banner/*
!/uploads/images_banner/index.html
/uploads/gmess/*
!/uploads/gmess/index.html
/uploads/gmess_tmp/*
!/uploads/gmess_tmp/index.html
/uploads/umeditor/*
/uploads/ueditor/*
!/uploads/ueditor/index.html

/config/apiclient_cert.pem
/config/apiclient_cert.p12
/config/apiclient_key.pem
/config/rootca.pem

/system/routerHash.cache.php
/models/json_cache/

/html/products/*
!/html/products/index.html

/logs/
!/logs/index.html

.DS_Store
.DS_Store?

/static/css/*.map
/exports/orders_export/export_files/*.xlsx
*.
config_msg_template.php
